[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "socialranking"]
	path = socialranking
	url = https://github.com/jassler/socialranking
